CONFIG_ARM=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_THB=y
CONFIG_SYS_TEXT_BASE=0x1008000000
CONFIG_PLATFORM_THUNDERBAY=y
CONFIG_TARGET_THB_SOC=y
CONFIG_DEBUG_UART_BASE=0x80460000
CONFIG_DEBUG_UART_CLOCK=50000000
CONFIG_IDENT_STRING=" Thunder Bay "
CONFIG_SYS_BOARD="thb-soc"
CONFIG_SYS_CONFIG_NAME="thb-soc"
CONFIG_DEBUG_UART=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_OF_BOARD_SETUP=y
CONFIG_SD_BOOT=y
CONFIG_PCIE_RECOVERY_MMC_DEV=0
CONFIG_CMD_THUNDERBAY_PCIE_RECOVERY_MMC=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_DM_VERITY=y
CONFIG_SYS_PROMPT="thb# "
CONFIG_MMC=y
CONFIG_DM_MMC=y
CONFIG_CMD_MMC=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_DM=y
# CONFIG_ISO_PARTITION is not set
CONFIG_PARTITION_TYPE_GUID=y
CONFIG_DEFAULT_DEVICE_TREE="thb_u-boot"
CONFIG_BOOTCOUNT_LIMIT=y
CONFIG_BOOTCOUNT_ENV=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_ENV_OFFSET=0x2100000
CONFIG_ENV_OFFSET_REDUND=0x2180000
CONFIG_ENV_SIZE=0x80000
CONFIG_CLK=y
CONFIG_CLK_THUNDERBAY_FIXED=y
CONFIG_DM_MMC=y
CONFIG_MMC_SDHCI=y
# CONFIG_MMC_SDHCI_SDMA is not set
# CONFIG_MMC_SDHCI_ADMA64 is not set
CONFIG_MMC_SDHCI_THUNDERBAY=y
#CONFIG_MMC_HS200_SUPPORT
CONFIG_BAUDRATE=115200
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_FAT_WRITE=y
CONFIG_FIT=y
CONFIG_FIT_ENABLE_SHA384_SUPPORT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SVN=n
CONFIG_THUNDERBAY_PCIE_EP_MISC_VPU_BOOT=y
CONFIG_CMD_THUNDERBAY_PCIE_BOOT=y
CONFIG_THUNDERBAY_PCIEBOOT_BUF_ADDR=0x101A200000
CONFIG_THUNDERBAY_PCIEBOOT_BUF_SIZE=0x10000
CONFIG_MISC=y
CONFIG_CMD_GPT=y
CONFIG_PARTITION_UUIDS=y
CONFIG_EFI_PARTITION=y
# Legacy image format is needed to support raw initramfs images (i.e.,
# initramfs images not encapsulated in FIT images).
# TODO: Remove legacy image support once initramfs image is not needed anymore.
CONFIG_IMAGE_FORMAT_LEGACY=y
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_ECDSA=y
CONFIG_XMSS=y
# Disable RSA which is enabled by default when CONFIG_FIT_SIGNATURE is enabled
CONFIG_RSA=n
CONFIG_SYS_MALLOC_F_LEN=0x800
CONFIG_SPI=y
CONFIG_DESIGNWARE_SPI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_CMD_TPM=y
CONFIG_CMD_TPM_TEST=y
CONFIG_DM_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_TPM2_TIS_SPI=y
CONFIG_TPM=y
# CONFIG_THUNDERBAY_SDHCI_ENABLE_HS is not set
# CONFIG_THUNDERBAY_SDHCI_ENABLE_HS400 is not set
# CONFIG_THUNDERBAY_SDHCI_ENABLE_SDR104 is not set
# CONFIG_THUNDERBAY_SDHCI_ENABLE_DDR50 is not set
# CONFIG_THUNDERBAY_SDHCI_ENABLE_SDR50 is not set
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_DM_GPIO=y
#CONFIG_INTEL_THB_GPIO=y
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_TEE_CLIENT_API=y
CONFIG_SUPPORT_EMMC_RPMB=y
#CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_RANDOM_UUID=y
CONFIG_LIB_RAND=y
CONFIG_TPM_V2=y
CONFIG_TPM_V1=n
CONFIG_CMD_TPM_V2=y
CONFIG_CMD_TPM_V1=n
CONFIG_TPM2_FTPM_OPTEE=n
# USB-related configs (TODO: make Vid/Pid dynamic)
#CONFIG_USB=y
#CONFIG_USB_DWC3=y
#CONFIG_USB_DWC3_GADGET=y
#CONFIG_USB_GADGET=y
#CONFIG_USB_GADGET_MANUFACTURER="Intel"
#CONFIG_USB_GADGET_VENDOR_NUM=0x8087
#CONFIG_USB_GADGET_PRODUCT_NUM=0xb007
#CONFIG_USB_GADGET_DOWNLOAD=y
# Fastboot-related configs
#CONFIG_CMD_FASTBOOT=y
#CONFIG_FASTBOOT=y
#CONFIG_USB_FUNCTION_FASTBOOT=y
#CONFIG_FASTBOOT_BUF_ADDR=0x90000000
#CONFIG_FASTBOOT_BUF_SIZE=0x60000000
#CONFIG_FASTBOOT_USB_DEV=0
CONFIG_ENABLE_MENDER=y
# CONFIG LOG
CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=6
CONFIG_LOGLEVEL=7
#CONFIG_BOOTCOMMAND="run $bootcmd"
CONFIG_BOOTDELAY=10
CONFIG_CMD_THUNDERBAY_FUSE_PROVISION=y
